a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#menu_184209dd a { text-decoration: none; }
#menu_184209dd_pane { background-color: #3A5068; border: 1px solid #3A5068; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_184209dd_hr { background-color: #3A5068; height: 1px; border: none; }
#menu_184209dd_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_184209dd_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_184209dd_entry:hover span { color:#FFFFFF !important; }
		.menu_184209dd_mainMenuEntry { text-align: center; }
		.menu_184209dd_mainMenuEntry:hover {	background-color:#0067B8; }
		.menu_184209dd_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_184209dd .mobileEntry { display: none; } 
		#menu_184209dd .normalEntry { display: block; } 
#button_1ff95ed9 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_1ff95ed9:hover { background-color:#CC92D3;  }
#button_1ff95ed9:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_36217de2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_36217de2_padding { margin: 10px; display: block;  }
#container_75c970f0 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2D73DC;  }
.textstyle2 { text-align:left; }
#menu_184209dd { vertical-align: bottom; position:relative; display: inline-block; width:71px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:49px; height:34px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:68px;  }
.textstyle3 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:47px; height:34px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:37px;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
#container_e59888c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFF00; background-position:bottom left; background-size:cover;  }
#container_e59888c_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_2557641d { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:72px; background-color:rgba(0, 0, 0, 0.6);  }
#container_2557641d_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:40pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_4f8031df { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#FFFFFF;  }
#container_4f8031df_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_6781c43c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.392157);  }
#container_6781c43c_padding { margin: 10px; display: block;  }
#container_3f491671 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_3f491671_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; font-weight:bold; text-decoration:underline; line-height: 1.2;  }
.textstyle13 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle15 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; font-weight:bold; line-height: 1.2;  }
#container_7667f9cf { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_7667f9cf_padding { margin: 10px; display: block;  }
.textstyle16 { text-align:right; }
#img_4e1d0303 { vertical-align: bottom; position:relative; display: inline-block; width:84%; background:none; height:auto;  }
.textstyle17 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_cd3eccc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_cd3eccc_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#button_1ff95ed9_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_324a6343 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_324a6343_padding { margin: 10px; display: block;  }
#container_5866b3b7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_5866b3b7_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle20 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_227e2fae { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_227e2fae_padding { margin: 10px; display: block;  }
#container_8cede07 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_8cede07_padding { margin: 10px; display: block;  }
.textstyle21 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_3f491671 { width:100%;  }
		#container_7667f9cf { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#menu_184209dd { width:50px;  }
}
@media only screen and (max-width: 450px)
{
		#container_5866b3b7 { width:100%;  }
		#container_227e2fae { width:100%;  }
		#container_8cede07 { width:100%;  }
}
